vs2013/ipch/
vs20*/MCRedis/Debug/
vs20*/test/Debug/
vs20*/vs.VC.VC.opendb
vs20*/vs.VC.db
vs20*/vs.VC.opendb
vs20*/vs.sdf
vs20*/test/x64/
vs20*/MCRedis/x64/
*.obj
*.pdb
vs2017/.vs/vs/v15/.suo
vs2017/.vs/
vs2017/x64/Debug/
